@font-face {
    font-family: 'Romie-Bold';
    src: url('../thihamz.github.io/assets/fonts/romie-bold-webfont.woff2') format('woff2'),
        url('../thihamz.github.io/assets/fonts/romie-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Romie-Medium';
    src: url('../thihamz.github.io/assets/fonts/romie-medium-webfont.woff2') format('woff2'),
        url('../thihamz.github.io/assets/fonts/romie-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers-cd';
    src: url('../thihamz.github.io/assets/fonts/univers-condensed-webfont.woff2') format('woff2'),
         url('../thihamz.github.io/assets/fonts/univers-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers-Bold-cd';
    src: url('../thihamz.github.io/assets/fonts/univers-condensedbold-webfont.woff2') format('woff2'),
         url('../thihamz.github.io/assets/fonts/univers-condensedbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 50px;
    background-image: url("");
    background-size: cover;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
}

.circle:hover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: blue;
}

.title {
    border: solid 3px black;

    font-family: 'Univers-Bold-cd';
    font-size: 7em;
    line-height: 175%;
    padding: 2%;
    margin-top: 5%;
}

a {
    color: white;
}

a {
    color: white;
}

li {
    font-family: 'Univers-cd';
    font-size: 2em; 
    padding: 5px;
    border-radius: 10px;
}

.table {
    border: solid 1px black;
    background-color: black;
}

li:hover {
    font-family: 'Univers-cd';
    font-size: 2.2em; 
    transition: 300ms;
}
