/*************************** font face ************************/

@font-face {
    font-family: 'Univers-cd';
    src: url('assets/fonts/._univers-condensed-webfont.woff2') format('woff2'),
         url('assets/fonts/._univers-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers-Bold-cd';
    src: url('assets/fonts/._univers-condensedbold-webfont.woff2') format('woff2'),
         url('assets/fonts/._univers-condensedbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*************************** body styles ************************/

body {
    margin: 20px; 
    background-color: black;
    color: white;
}

.header {
    border: solid 1px white;
    padding: 20px;

    font-family: 'Univers-Bold-cd', Arial, Helvetica, sans-serif;
    font-size: 10vw;
    line-height: 160%;

    display: flex;
    text-align: center;
}