/*************************** font face ************************/

@font-face {
    font-family: 'Univers-cd';
    src: url('assets/fonts/._univers-condensed-webfont.woff2') format('woff2'),
         url('assets/fonts/._univers-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers-Bold-cd';
    src: url('assets/fonts/._univers-condensedbold-webfont.woff2') format('woff2'),
         url('assets/fonts/._univers-condensedbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: white;
}

/*************************** body styles ************************/

body {
    margin: 20px; 
    background-color: blue;
}

.header {
    padding: 10px;

    font-family: 'Univers-Bold-cd', Arial, Helvetica, sans-serif;
    font-size: 5vw;
    line-height: 160%;

    display: flex;
    text-align: center;

    color: whitesmoke;
    position: fixed;
    top: 20%;

}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
}

.wrapper {
    padding: 10px;
    position: fixed;
    top: 60%;

}

.items {
    color: white;
    width: 100%;
    height: auto;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;

    display: flex;
    justify-content:left;
    align-items: center;
}

.items:hover {
    color: whitesmoke;
    padding-left: 1rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;


}

.items:not(first-child) {
    margin-top: 1rem;
}
