/*************************** font face ************************/

@font-face {
    font-family: 'Univers-cd';
    src: url('assets/fonts/._univers-condensed-webfont.woff2') format('woff2'),
         url('assets/fonts/._univers-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers-Bold-cd';
    src: url('assets/fonts/._univers-condensedbold-webfont.woff2') format('woff2'),
         url('assets/fonts/._univers-condensedbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*************************** body styles ************************/

body {
    margin: 20px; 
    background-color: black;
    color: white;
}

.header {
    border: solid 1px white;
    padding: 10px;

    font-family: 'Univers-Bold-cd', Arial, Helvetica, sans-serif;
    font-size: 5vw;
    line-height: 160%;

    display: flex;
    text-align: center;
}

.wrapper {
    border: solid 1px pink;
    padding: 10px;
    
    display: flex;
    flex-direction: column;

}

.items {
    background-color: black; 
    padding-left: 1vw;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;

    justify-content:left;
}

.items:not(first-child) {
    margin-top: 2vw;
}

#video {
    object-fit: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }