@font-face {
    font-family: 'Romie-Bold';
    src: url('../thihamz.github.io/assets/fonts/romie-bold-webfont.woff2') format('woff2'),
        url('../thihamz.github.io/assets/fonts/romie-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Romie-Medium';
    src: url('../thihamz.github.io/assets/fonts/romie-medium-webfont.woff2') format('woff2'),
        url('../thihamz.github.io/assets/fonts/romie-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers-cd';
    src: url('../thihamz.github.io/assets/fonts/univers-condensed-webfont.woff2') format('woff2'),
         url('../thihamz.github.io/assets/fonts/univers-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers-Bold-cd';
    src: url('../thihamz.github.io/assets/fonts/univers-condensedbold-webfont.woff2') format('woff2'),
         url('../thihamz.github.io/assets/fonts/univers-condensedbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* background + body + title codes */
body {
    background-color: black;
    background-image:url("assets/image/texture-eyes.png");
    background-size: cover;

    align-items: center;
    padding: 20px;
    justify-content: center;
}

/*circle*/
.circle {
    z-index: 10;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;

    position: relative;

    mix-blend-mode:exclusion;
}

.circle:hover {
    z-index: 10;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: blue;

    position: relative;

    mix-blend-mode:exclusion;
}

#circle {
    position: relative;
    top: 50%;
    left: 45%;
}


/*title*/
.title {
    border: solid 1px transparent;
    font-family: 'Univers-Bold-cd';
    color: white;
    font-size: 8em;
    line-height: 180%;
    }

h1 {
    text-align: center;
    overflow: hidden;
    word-wrap:normal;
}


/* Navbar Codes */
.navbar {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    border: solid 1px transparent;
    background-color: transparent;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 1em;

    position: fixed;
    top: 0;
    width: 96%;
}

a {
    border: solid 1px transparent;

    width:80px;
    height: 40px;
    background-color: black;
    border-radius: 15%;

    display:flex;
    justify-content:space-around;
    text-align: center;
    align-items: center;

    color: white;
    padding-right: 10px;
    padding-left: 10px;
}

a:hover {
    background-color: blue;
    transition: 200ms;
    color:white;
}




