/****************** Food Items **********************/
:root {
  --item-borders: solid 1.2px yellowgreen;
}
/* for mobile */
#foodWrapper {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10%;
  border: solid 1px transparent;

  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

/* for tablet */
@media screen and (min-width: 500px) {

  #foodWrapper {
    border: solid 1px transparent;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
    place-items: center;
  }
}

/* for window */
@media screen and (min-width: 900px) {

  #foodWrapper {
    border: solid 1px transparent;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
  
    place-items: center;
    margin-bottom: 10%;
  }
}

.card {
  font-family: 'Sora', sans-serif;
    font-weight: 400;
    color: yellowgreen;
    font-size: 2vh;
  border: var(--item-borders);
  border-radius: 10px;

  padding: 1vh;
  margin: 1vh;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 80vw;
  height: auto;
}

.card img {
  width: auto;
  height: 20vh;
}

.card:hover {
  animation: boxshadow 1.2s ease-in, move 1.2s ease-in;
  background-color: yellowgreen;
  color: black;
  border-radius: 10px;

  padding: 1vh;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  width: 80vw;
  height: auto;
}

/* for window */
@media screen and (min-width: 500px) {
  .card {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    color: yellowgreen;
    font-size: 2vh;

    border: var(--item-borders);
    border-radius: 10px;

    padding: 1vh;
    margin: 1vh;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 90%;
    height: 95%;
  }

  .card:hover {
    animation: boxshadow 1.2s ease-in, move 1.2s ease-in;
    background-color: yellowgreen;
    color: black;
    border-radius: 10px;

    padding: 1vh;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    width: 90%;
    height: 95%;
  }
}
.card p {
  border-bottom: dashed 1px yellowgreen;
  padding-bottom: 0.5vh;
}

img {
  background-color: transparent;
  border-radius: 5px;
  max-height: 15vh;
  width: 30vw;
  margin: auto;

}

.itemName {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  color: var(--color-tertiary);
  font-size: 1.5vh;
  font-weight: 600;
  border-bottom: dashed 1px var(--color-tertiary);
  margin-bottom: 1vh;
  padding-bottom: 1vh;

  text-align: left;
}

@media screen and (min-width: 500px) {
  .itemName {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    color: var(--color-tertiary);
    font-size: 2.5vh;
    font-weight: 600;
    border-bottom: dashed 1px var(--color-tertiary);
    margin-bottom: 1vh;
    padding-bottom: 1vh;

    text-align: left;
  }
}


@keyframes boxshadow {
  0% {
    box-shadow: none;
  }

  10% {
    box-shadow: 3px 3px 0 var(--color-secondary);
  }

  20% {
    box-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }

  30% {
    box-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }

  40% {
    box-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  50% {
    box-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  60% {
    box-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  70% {
    box-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }

  80% {
    box-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }

  90% {
    box-shadow: 3px 3px 0 var(--color-secondary);
  }

  100% {
    box-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  50% {
    transform: translate(-5px, -5px);
  }

  60% {
    transform: translate(-3px, -3px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}